html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #040404;
    color: white;
    overflow-x: hidden;
}

.content-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}
.button-container {
    position: fixed;
    left: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
body.dark .button-container {
    background: black;
    color: white;
}
.button {
    background: linear-gradient(135deg, #040404, #333333); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 120px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

body.dark .button {
    background: linear-gradient(135deg, #ffffff, #cccccc);
    color: black;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}

.button:hover {
    background: linear-gradient(135deg, #555555, #777777);
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

body.dark .button:hover {
    background: linear-gradient(135deg, #dddddd, #eeeeee);
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.3);
}

.container {
    flex-grow: 1;
    width: 80%;
    margin: auto;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
body.dark .container {
    background: black;
    color: white;
}
.logo {
    width: 500px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 25px ;
}
.section {
    padding: 50px 0;
    margin: 20px 0;
    border: 2px solid #333;
    border-radius: 10px;
    background: #1a1a1a;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
body.dark .section {
    background: #333;
    color: white;
    border-color: #555;
}
.section img {
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}
.section h2 {
    margin-bottom: 10px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section p {
    font-size: 18px;
    line-height: 1.6;
}

#title {
    font-size: 50px;
}